// jQuery library
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
// knockout js
script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js")
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')