doctype html
html
    head
        include includes/header.pug
    body
        .container.border.my-2#mainBody
            // container-fluid starts
            .row.my-2.py-3
                .col-3 
                    img.card-img-top(data-bind="attr:{src: googleApps().icon}")
                .col-9 
                    h3(data-bind="text: googleApps().title")
                    span.text-success(data-bind="text: googleApps().developer")
                    span.ml-3.text-success(data-bind="text: googleApps().genre")
                    svg.float-right.pt-1(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 14 14")
                        path(d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z")
                    span.float-right(data-bind="text: googleApps().ratings")
                    .row.mt-2
                        .col
                            span ADDITIONAL INFORMATION
                    .row 
                        .col-4
                            h5.mt-2 Installs 
                            p(data-bind="text: googleApps().installs")
                        .col-4
                            h5.mt-2 Required Android 
                            p(data-bind="text: googleApps().androidVersionText")
                        .col-4
                            h5.mt-2 Current Version
                            p(data-bind="text: googleApps().version")
            .row 
                <!-- ko if: googleApps().video -->
                    .col-2 
                    .col-8.align-self-center
                        iframe(height="300px", width="100%" data-bind="attr:{src: googleApps().video}")
                <!-- /ko -->
            .row(data-bind="foreach: googleApps().screenshots")
                .col-3
                    img.my-2.card-img-top(data-bind="attr:{src: $data}" )
                #footer-div
                    include  includes/footer.pug
script(src="/resources/app-details.js")